@font-face {
    font-family: RoadRadio-Thin;
    src: url("../fonts/RoadRadio-Thin.woff2") format("opentype");
}

@font-face {
    font-family: RoadRadio-Bold;
    src: url("../fonts/RoadRadio-Bold.woff2") format("opentype");
}

ul {
    font-size: 110% !important;
}

ul i {
    font-size: 200% !important;
}

.galeria {
    margin-left: 10px;
    margin-right: 10px;
}

.galeria img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.slider-top {
    max-height: calc(100vh - 64px);
    width: 100vw;
    height: auto;
    overflow: hidden;
}

.slider-top img {
    width: 100%;
    height: auto;
    max-height: calc(100vh - 64px);
    object-fit: fill;
    /* object-position: 0, 50%; */
}

.pushpin {
    z-index: 500;
}

.kydimg {
    /* height: 100vh; */
    object-fit: contain;
    overflow: hidden;
}

.rancio.transparent {
    opacity: 0 !important;
    position: absolute;
    top: 0;
}

.text {
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

.text-dark {
    font-family: "Montserrat", sans-serif;
    color: #212121 !important;
}

.kydgreen {
    background-color: #1cffa2 !important;
}

.kydgreen-text {
    color: #1cffa2;
    font-family: "RoadRadio-Thin", Regular;
}

.kydgreen-text.title {
    font-family: "RoadRadio-Bold", Regular;
}

.fitnav {
    display: block;
    overflow: auto;
}

.brand-logo {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    padding: 1vh;
}

.fa-whatsapp {
    font-size: 225% !important;
}

.whatsapp {
    background-color: #1bd741 !important;
}

.title-header {
    margin-top: 20px;
}

body {
    background-color: #212121;
    overflow-y: scroll;
    overflow-x: hidden;
}

.loader {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    overflow: hidden;
}

.loader.complete {
    animation: desaparecer 1.5s ease forwards;
}

.progress-container {
    display: block;
    position: absolute;
    top: 87%;
    left: 47%;
}

.galery-container {
    display: inline-block;
    overflow: hidden;
}

.galeria-logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18vh, 1fr));
    grid-template-rows: repeat(6, auto);
    grid-gap: 2rem;
    grid-auto-flow: dense;
}

.logo {
    width: 100%;
    height: auto;
    margin: auto;
    filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px 2px 0 white) drop-shadow(2px -2px 0 white) drop-shadow(-2px -2px 0 white);
}

.bubble-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(6, auto);
}

.bubble {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.bubble-text {
    position: relative;
    height: auto;
    padding: 20px;
    background: #fff;
    color: #000 !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 14px;
}

.bubble-text:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 15px 14px 0;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 30px;
}

.bubble-picture {
    margin-top: 25px;
    margin-left: 22px;
}

.bubble-picture img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 10px;
    float: left !important;
}

.bubble-picture .datos {
    display: table-cell;
    vertical-align: top;
    color: #fff;
}

.vacio {
    display: hidden;
    width: 0;
    height: 0;
    padding: 0 0 0 0 !important;
}

#logo {
    position: absolute;
    width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: none;
    fill-opacity: 0;
    animation: llenar 1.5s ease forwards 1.3s;
}

#logokyd {
    animation: llenar 1.5s ease forwards 1s;
}

#k1 {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: anim 1.5s ease forwards;
}

#k2 {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: anim 1.5s ease forwards 0.2s;
}

#y {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: anim 1.5s ease forwards 0.4s;
}

#d {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: anim 1.5s ease forwards 0.6s;
}

@keyframes anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes llenar {
    to {
        fill-opacity: 1;
        stroke-opacity: 0;
    }
}

@keyframes desaparecer {
    to {
        opacity: 0;
        overflow: visible;
        z-index: -10;
    }
}