* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #000000;
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    fill: none;
    fill-opacity: 0;
    animation: llenar 2s ease forwards 2.1s;
}

#logokyd {
    animation: llenar 2s ease forwards 1.5s;
}

#k1 {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: anim 2s ease forwards;
}

#k2 {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: anim 2s ease forwards 0.3s;
}

#y {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: anim 2s ease forwards 0.6s;
}

#d {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: anim 2s ease forwards 0.9s;
}

@keyframes anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes llenar {
    to {
        fill-opacity: 1;
        stroke-opacity: 0;
    }
}